Binaries
DerivedDataCache
Intermediate
Saved
Build
Content/Fab
Content/Raccoon
Content/Scene_Junkyard
Content/Mediterranean_Coast

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace